<div class="container bootstrap snippet">
    <div class="row">
		<div class="col-md-12">
		    <div class="blog-comment">
				<h3>Commentaires</h3>
                <hr/>
				<ul class="comments">
                {% for comment in comments %}
				<li class="clearfix">
				  <div class="post-comments {{comment.arborescence}}">
				      <p class="meta">{{comment.date}} {{comment.author}} a dit : <i class="pull-right"><a href="?cible=post&id={{post.id}}&signaler=true&comment={{comment.id}}"><small>Signaler ce commentaire</small></a></i></p>
				      <p>
				        {{comment.comment}}
				      </p>
                        {% include 'repondre.twig' %}
				  </div>
				</li>
                {% else %}    
                <p>Soyez le premier à commenter !</p>
                {% endfor %} 
				</ul>
			</div>
		</div>
	</div>
</div>