  <!-- Main Content -->
  <div class="container">
    <h2 class="jumbowtron"> LES DERNIERS CHAPITRES</h2>
    <div class="row">

     {% for item in liste %}
      <div class="col-lg-8 col-md-10 mx-auto" id="{{item.id}}">
        <div class="post-preview">
          <a href="?cible=post&id={{item.id}}">
            <img class="card-img-top"  src="public/img/{{item.img}}" alt="Card image cap"/>
            <p class="post-title">
              {{item.title}}
            </p>
            <p class="post-subtitle">
              {{ item.post|length > 50 ? item.post|striptags|slice(0, 50) ~ '...' : item.post}}
            </p>
          </a>
          <p class="post-meta">Posté par {{item.author}}, le {{item.date}}</p>
      </div>
     </div>
        <hr>
    {% else %}
        <p>Pas de nouveau chapitre</p>
    {% endfor %} 
</div>